<template>
    <main :class="!!this.timer ? 'running' : 'stopped'">
        <section class="display">
            <span class="hours">{{hours}}</span> :
            <span class="minutes">{{minutes}}</span> :
            <span class="seconds">{{seconds}}</span> :
            <span class="milliseconds">{{milliseconds}}</span>
        </section>
        <section class="controls">
            <button class="start" @click="startTimer" :disabled="!!this.timer">Start</button>
            <button class="pause" @click="pauseTimer" :disabled="!this.timer">Pause</button>
            <button class="reset" @click="resetTimer" :disabled="!this.time">Reset</button>
            <section class="lap">
                <button class="lap" @click="addLap" :disabled="!this.timer">Lap</button>
                <button class="clear" @click="resetLaps" :disabled="!this.laps.length">Clear</button>
            </section>
        </section>
        <section class="lap-display">
            <div class="laps" v-for="lap, index in laps">
                <div class="lap">Lap {{index + 1}} {{lap.time}}</div>
            </div>
        </section>
    </main>
</template>
<script>
export default {
    data: function(){
        return {
            start : 0,
            current : 0,
            time : 0,
            hours:this.pad(0),
            minutes:this.pad(0),
            seconds:this.pad(0),
            milliseconds:this.pad(0,3),
            timer:0,
            laps: []
        }
    },
    watch: {
        current: function(){
            this.time = this.current - this.start;
            let seconds = this.time / 1000;
            this.milliseconds = this.pad(this.time % 1000, 3)
            this.seconds = this.pad(Math.floor(seconds % 60))
            this.minutes = this.pad(Math.floor(seconds / 60) % 60)
            this.hours = this.pad(Math.floor(seconds / 3600) % 24)
        }
    },
    created: function(){
        // this.startTimer();
    },
    methods: {
        pad: function(input, padding = 2) {
            // return input < 10 ? "0" + input : input;
            input = input.toString(); // in case someone passes a number
            return input.length >= padding ? input : this.pad('0' + input, padding);
        },
        updateFunction: function() {
            this.current = new Date();
        },
        startTimer: function() {
            // this.resetTimer();
            this.start = new Date() - this.time;
            this.current = new Date();
            clearInterval(this.timer);
            this.timer = setInterval(this.updateFunction, 1000 / 30)
        },
        pauseTimer: function() {
            clearInterval(this.timer);
            this.timer = undefined;
        },
        resetTimer: function() {
            this.start = new Date();
            this.current = new Date();
        },
        addLap: function() {
            this.time = this.current - this.start;
            let milliseconds = this.pad(this.time % 1000, 3)
            let seconds = this.pad(Math.floor(this.time/1000 % 60))
            let minutes = this.pad(Math.floor(this.time/1000 / 60) % 60)
            let hours = this.pad(Math.floor(this.time/1000 / 3600) % 24)

            this.laps.push({
                time: hours + ' : ' + minutes + " : " + seconds + " : " + milliseconds
            })

            this.resetTimer();
        },
        resetLaps: function() {
            this.laps = []
        }
    }
}
</script>
<style>
    html, body {
        margin:0;
        padding:0;
    }

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    main {
        display:flex;
        flex:1;
        flex-direction:column;
        align-items: center;
        justify-content: flex-end;
        width:100vw;
        height:100vh;
        background:#34495e;
        color:#fff;
        transition: border 0.3s ease-in-out;
    }

    main.running {
        border:1rem solid rgba(22, 160, 133,1.0);
    }

    main.stopped {
        border:1rem solid rgba(192, 57, 43,1.0);
    }

    .display {
        font-size:calc(100vw / 12);
    }

    .controls {
        display:flex;
    }

    section.lap {
        border-left: 2px solid #fff;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    button {
        padding:1rem;
        border:4px solid #3498db;
        border-radius:.5rem;
        background:rgba(52, 152, 219, 0.3);
        margin:1rem;
        cursor:pointer;
        text-transform:uppercase;
        color: white;
        outline:none;
        transition:all 0.3s ease-in-out;
    }

    button[disabled], button[disabled]:hover {
        color:#7f8c8d;
        background:rgba(149, 165, 166,0.3);
        border:4px solid #7f8c8d;
    }

    button:hover {
        background:rgba(52, 152, 219,0.6);
        border-color:white;
    }

    .lap-display {
        width:100%;
        height:50vh;
        overflow:auto;
    }

    .laps {
        line-height:2;
    }

    .laps:nth-child(odd) {
        background:#2c3e50;
    }

</style>
